#root {
  max-width: 1280px;
  min-width: 320px;
  max-height: 780px;
  min-height: 270px;

  margin: 0 auto;
  padding: 1rem 2rem;

  text-align: center;
  justify-content: space-evenly;
  overflow: scroll;
  overscroll-behavior-block: contain;
}
